<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._180LearnAndroid"
        tools:targetApi="31">
        <activity
            android:name=".architecture.mvi.CounterScreen"
            android:exported="false"
            android:label="@string/title_activity_counter_screen"
            android:theme="@style/Theme._180LearnAndroid" />
        <activity
            android:name=".GalleryPermissionActivity"
            android:exported="false"
            android:label="Gallery and Permission"
            android:theme="@style/Theme._180LearnAndroid" />
        <activity
            android:name=".SensorActivity"
            android:exported="false"
            android:label="Sensor Data"
            android:theme="@style/Theme._180LearnAndroid" />
        <activity
            android:name=".CreateCopyActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme._180LearnAndroid" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_shared_preferences"
            android:theme="@style/Theme._180LearnAndroid" />
        <activity
            android:name=".LifeCycleComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_life_cycle_compose"
            android:theme="@style/Theme._180LearnAndroid" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme._180LearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PokedexActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme._180LearnAndroid" />
        <activity
            android:name=".RPGCardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme._180LearnAndroid" />
    </application>
    // check in 24 feb 26
</manifest>
